<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Cadastro de automóveis - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Cadastro de automóveis - Sign Up</h1>
        </div>
		<form action="salvarautomovel" method="POST">
        <label>Matrícula</label>
         <input name="matricula" />

        <label>Marca</label>
         <input name="marca"/>
         
         <label>Modelo</label>
         <input name="modelo"/>
         
         <label>Placa</label>
         <input name="placa"/>
         
         <label>Ano de fabricação</label>
         <input name="ano"/>
         
         <label>Preço do aluguel</label>
         <input name="preco"/>
         
        <input type="submit" value="Salvar">
        </form>
    </div>
</body>
</html>


